@model RelatorioModel
@{
    ViewBag.Title = "Jogos Disponíveis";
}
<h3>
    @TempData["Mensagem"]
</h3>

<div class="page-header">
    <h2 class="inline">Jogos disponíveis para locação</h2>
    @if (User.IsInRole("ADMIN"))
    {
        <a href="~/Jogo/ManterJogo" class="btn btn-default pull-right">Criar Jogo</a>
    }
    <a href="~/Locacao/Devolucao" class="btn btn-default pull-right" style="margin-right:30px;">Devolver Jogo</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Jogo</th>            
            <th>Categoria</th>
            <th>Selo</th>
            <th>Detalhes</th>            
            <th>Editar</th>
            <th>Locação</th>
        </tr>
    </thead>
    @foreach (var jogo in @Model.Jogos)
    {
        <tr>
            <td>@jogo.Nome</td>            
            <td>@jogo.Categoria</td>
            <td>@jogo.Selo</td>
            <td><a href="~/Jogo/JogoDetalhes/@jogo.Id">Detalhes do jogo</a></td>
            <td><a href="~/Jogo/ManterJogo/@jogo.Id">Editar</a></td>
            <td><a href="~/Locacao/Locar/@jogo.Id">Locar</a></td>
        </tr>
    }
</table>
<div>
    <p>Quantidade de jogos: @Model.QuantidadeDeJogos</p>
</div>
