@model RelatorioModel
@{
    ViewBag.Title = "Jogos Disponíveis";
}
<h3>
    @TempData["Mensagem"]
</h3>

<div class="page-header">
    <h2 class="inline">Jogos disponíveis para locação</h2>
    <a href="~/Jogo/ManterJogo" class="btn btn-default pull-right">Criar Jogo</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Jogo</th>            
            <th>Categoria</th>
            <th>Preço</th>
            <th>Detalhes</th>
            <th>Editar</th>
        </tr>
    </thead>
    @foreach (var jogo in @Model.Jogos)
    {
        <tr>
            <td>@jogo.Nome</td>            
            <td>@jogo.Categoria</td>
            <td>@jogo.Preco.ToString("c")</td>
            <td><a href="~/Jogo/JogoDetalhes/@jogo.Id">Detalhes do jogo</a></td>
            <td><a href="~/Jogo/ManterJogo/@jogo.Id">Editar</a></td>
        </tr>
    }
</table>
<div>
    <p>Quantidade de jogos: @Model.QuantidadeDeJogos</p>
    <p>Valor médio dos jogo: @Model.ValorMedio</p>
    <p>Jogo mais barato: @Model.JogoMaisBarato</p>
    <p>Jogo mais caro: @Model.JogoMaisCaro</p>
</div>
