@model Locadora.Web.MVC.Models.LocarJogoModel

<h2>@Html.DisplayFor(m => m.Nome)</h2>
<p>@Html.DisplayFor(m => m.Selo)</p>
<p>@Html.DisplayFor(m => m.Descricao)</p>
<p>@Html.DisplayFor(m => m.DataDevolucao)</p>
<p>@Html.DisplayFor(m => m.Valor)</p>

