@model LoginModel
@{
    ViewBag.Title = "Login";
}

<h3>@TempData["Mensagem"]</h3>

@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="col-md-3 col-centered">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" name="email" value="" />        
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" class="form-control" name="senha" value="" />
            @Html.ValidationMessageFor(m => m.Senha)
        </div>

        <div class="text-center">
            <input class="btn btn-default" type="submit" name="enviar" value="Login" />
        </div>

        <div class="text-center">
            <a href="~/Usuario/CadastroUsuario" class="btn btn-default btn-xs" style="margin-top:10px">Cadastrar</a>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery-validator")
}

